*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*header section*/
.showcase{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
/*navbar*/
.showcase-top{
    position: relative;
    z-index: 2;
    padding:26px 0px 0px 55px;
}
.showcase-top #logo{
    height: 35px;
}
.showcase-top .submit{
    background-color: #ef0914;
    color:white;
    border:none;
    padding:5px 16px;
    border-radius: 3px;
    float:right;
    position: relative;
    right: 55px;
}
.showcase-top select{
    background-color: transparent;
    color: white;
    border-radius: 3px;
    float: right;
    position: relative;
    right: 85px;
    padding: 5px 10px;
}
.showcase-top select option{
    color: black;
}
/*get started*/
.showcase .get-started-container{
    z-index: 2px;
    position:relative;
    text-align: center;
    top: 180px;
    width:100%;
}
.showcase .get-started-container h1,p{
    color: white;
}
.showcase .get-started-container h1{
    font-size: 3.9rem;
}
.showcase .get-started-container .para-1{
    font-size: 1.7rem;
}
.showcase .get-started-container .para-2{
    font-size: 1.2rem;
}
.showcase .get-started-container input{
    width:35%;
    padding:22px;
    border:none;
    margin-top: 0.5%;
    outline: none;
}
.showcase .get-started-container button{
    padding:22px;
    border:none;
    background-color: #ef0914;
    color:white;
    margin-left:-0.3%;
    font-weight: bold;
}
/*main section starts*/
/*Enjoy on your TV.*/
.main-section .section-container{
    border-top: 8px solid #222;
    background-color: black;
    display: flex;
    color: white;
    padding:0px 80px;
    padding-bottom: 80px;
}

.main-section .section-container .left-col{
    padding-top: 13%;
    padding-right: 2%;
}
.main-section .section-container .left-col h1{
    color:white;
    font-size: 30px;
}
 
.main-section .section-container .left-col h3{
    color:white;
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 5%;
}
.main-section .section-container .right-col{
    overflow:hidden;
    position:relative;
    width:80%;
    height:500px;
}
.main-section .section-container .right-col img{
    position:absolute;
    width:100%;
}

.main-section .section-container .right-col .video-1{
    margin-left: 13%;
    margin-top: 16%;
    width:73%
}
/*Download your shows to watch offline.*/
.main-section .section2-container {
    border-top: 8px solid #222;
    background-color: black;
    display:flex;
    color: white;
    padding:0px 80px;
    padding-bottom: 90px;

}
.main-section .section2-container .left-col img{
    width:100%;
}


.main-section .section2-container .right-col{
    padding-top: 13%;
    padding-right: 2%;
    width:50%;
}
.main-section .section2-container .right-col h1{
    color:white;
    font-size: 30px;
}
.main-section .section2-container .right-col h3{
    color:white;
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 5%;
}

/*watch everywhere*/
.main-section .section-container .right-col .video-2{
    margin-left: 19%;
    margin-top: 8%;
    width:61%
}

/*create profile for kids*/

    
.main-section .section2-container .left-col img{
    width:100%;
}
/*Question section start*/
.question-container{
    background-color: black;
    border-top: 8px solid #222;
    padding-top;60px:
}
.question-container h1{
    color:white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 3%;
}
.question-container button{
    border:none;
    background-color: #303030;
    color: white;
    width: 60%;
    padding: 16px;
    font-size: 23px;
    display:flex;
    align-items: center;
    margin:0 auto;
    position: relative;
}
.question-container button img{
    width:3%;
    display: flex;
    align-items: center;
    margin:0 auto;
    position:absolute;
    right:20px;
    cursor: pointer;
}
/*answer1*/
.question-container .answer1{
   background-color: #303030;
    width:60%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding:15px;
    font-size: 20px;
    display: none;
}
/*answer2*/
.question-container .answer2{
    background-color: #303030;
     width:60%;
     display: flex;
     align-items: center;
     margin: 0 auto;
     padding:15px;
     font-size: 20px;
     display: none;
 }
 /*answer3*/
 .question-container .answer3{
    background-color: #303030;
     width:60%;
     display: flex;
     align-items: center;
     margin: 0 auto;
     padding:15px;
     font-size: 20px;
     display: none;
 }
 /*answer4*/
 .question-container .answer4{
    background-color: #303030;
     width:60%;
     display: flex;
     align-items: center;
     margin: 0 auto;
     padding:15px;
     font-size: 20px;
     display: none;
 }
/*answer5*/
.question-container .answer5{
    background-color: #303030;
     width:60%;
     display: flex;
     align-items: center;
     margin: 0 auto;
     padding:15px;
     font-size: 20px;
     display: none;
 }
/*answer6*/
.question-container .answer6{
    background-color: #303030;
     width:60%;
     display: flex;
     align-items: center;
     margin: 0 auto;
     padding:15px;
     font-size: 20px;
     display: none;
 }
 /*Email address start*/
.email-address-container{
    z-index: 2;
    position: relative;
    background-color: black;
    text-align: center;
    width:100%;
    padding-top: 4%;
    padding-bottom: 4%;
}
.email-address-container input{
    width:35%;
    padding: 22px;
    border: none;
    outline: none;
    margin-top: 0.5%;
}
.email-address-container button{
    padding: 22px;
    border: none;
    outline: none;
    background-color: #ef0914;
    color: white;
    margin-left: -0.3%;
    font-weight: bold;
}
/*footer section starts*/

   footer{
    background-color: black;
    border-top: 8px solid #222;
    padding:5%;
   }
   footer h5{
    color:white;
    text-align: center;
    padding-bottom: 2%;
    font-size: 20px;
   }


   footer .content{
    max-width:1350px;
    margin:0px 90px;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
footer .content .middle-box{
    width:20%;
    transition: all 0.4s ease;
    padding-left: 50px;
}
footer .content .middle-box a{
    line-height: 32px;
    display: flex;
    text-decoration: none;
    color: #d1c1c1;
}
footer .content .middle-box a:hover{
    text-decoration: underline;
}
footer .content .middle-box p{
    text-align: justify;
}

footer .content .middle-box select{
    padding: 8px;
    background: transparent;
    color:white;
    border: 1px solid grey;
    border-radius: 3px;
}

footer .content .middle-box select option{
    background-color: black;
}










@media(max-width:1100px){
    /*footer section*/
    footer .content .middle-box{
        padding-left:50px;
    }
}

/*responsive css code*/
@media(max-width:659px){
    /*navbar*/
    .showcase-top{
        padding:26px 0px 0px 25px;
    }
    .showcase-top #logo{
        height: 25px;
    }
    .showcase-top .submit{
        position: relative;
        right: 25px;
        padding:2px 10px;
    }
    .showcase-top select{
        position:relative;
        right:40px;
        padding:2px 10px;
    }
      /*Get Started*/
      .showcase .get-started-container{
        position:relative;
        80top:px;
  }
   .showcase .get-started-container h1{
      font-size: 2rem;
      padding:50px;
      padding-bottom: 0px;
   }
  
   .showcase .get-started-container .para-1{
      font-size: 1rem;
  
   }
   
      .showcase .get-started-container .para-2{
          font-size: 1rem;
      }
       .showcase .get-started-container input{
          padding:14px;
          width:70%;
       }
       
/* question section starts*/
.question-container button{
    width:100%;
}
.question-container .answer1,
.answer2,
.answer3,
.answer4,
.answer5,
.answer6{
   width:100%;
}
/*email address*/

.email-address-container input{
    padding: 17px;
    width: 55%;
}
.email-address-container button{
    display:block;
    display:flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.5%;
    padding:12px;
}



}
/*width 659 ends*/

@media(max-width:339px)
{
     /*navbar*/
     .showcase-top #logo{
        height: 22px;
    }
    .showcase-top .submit{
        padding:1px 5px;
    }
    .showcase-top select{
        padding:1px 0px;
        position: relative;
        right: 30px;
    }
      /*Get Started 339*/
   .showcase .get-started-container h1{
      font-size: 1.5rem;
   }
  
   .showcase .get-started-container .para-1{
      font-size: 1.1rem;
  
   }
   
      .showcase .get-started-container .para-2{
          font-size: 0.8rem;
      }


}
/*width 339 ends*/

@media(max-width:943px){
   /*Get Started*/
    .showcase .get-started-container{
        position:relative;
        top:90px;
    }
    .showcase .get-started-container h1{
        font-size: 3.4rem;
    }
    .showcase .get-started-container .para-1{
        font-size: 1.5rem;
    }
    .showcase .get-started-container .para-2{
        font-size: 1rem;
    }
    .showcase .get-started-container input{
        padding:17px;
        width:55%;
    }
    .showcase .get-started-container button{
        display:block;
        display:flex;
        align-items: center;
        margin:0 auto;
        margin-top: 1.5%;
        padding:12px;
    }
  /*Enjoy on your tv*/
  .main-section .section-container{
      display: block;
  }

  .main-section .section-container .left-col{
    width:100%;
    text-align: center;
  }
  .main-section .section-container .right-col{
    width: 100%;
    
  }
  /*Download your shows to watch offline*/
  .main-section .section2-container {
    display: block;
  }

.main-section .section2-container .left-col{
    width:100%;
}
.main-section .section2-container .right-col{
    width:100%;
    text-align: center;
}
/*footer section*/
footer .content .middle-box{
    width:50%;
}

}
/*width 943px ends*/
@media(width:774){
    /*Enjoy on your tv*/
    .main-section .section-container{
        padding-bottom: 0px;
    }
}
/*width 774px ends*/

@media(width:500px){
   /*Enjoy on your tv*/
   .main-section .section-container .right-col{
    height:270px;
   }

/*footer section*/
footer{
    position: relative;
}
footer .content .middle-box{
    width: 100%;
    margin-top: 30px;
    padding: 0;
}
}
/*width 500px ends*/